---
import Card from '@/components/Card.astro';
import RootLayout from '@/layouts/RootLayout.astro';

const projectsData = [
  {
    title: 'Admin-Dashboard-Github-Repo',
    description: `A github repo to show using HTML5/CSS3/Javascript to create a admin dashboard with a light/dark mode switch`,
    imgSrc: '/static/images/adminDashboardLight.png',
    href: 'https://github.com/tomz12321/proj-admin-dashboard/'
  },
  {
    title: 'Admin-Dashboard',
    description: `A practice of using HTML5/CSS3/Javascript to create a admin dashboard with a light/dark mode switch`,
    imgSrc: '/static/images/adminDashboardDark.png',
    href: 'https://chipper-taffy-228346.netlify.app/'
  },
  {
    title: 'Blog Astro',
    description: `A side project running to show a blog system working with Astro with tailwind CSS.`,
    imgSrc: '/static/images/astro.jpg',
    href: 'https://tomz12321-tailwind-astro-blog.dev/'
  },
  {
    title: 'Pokedex React',
    description: `To get started, enter a pokemon ID in the Input element in our project below.
    Expect Result: A object {Pokemon} would be returned back with name and image. This is a showcase to show React component working with Redux Toolkit`,
    imgSrc: '/static/images/pokedex.jpg',
    href: 'https://react-pokemon-pokedex-tomz12321.netlify.app/'
  },
  {
    title: 'Fitness XO',
    description: `A online gym website that we build during the covid period.`,
    imgSrc: '/static/images/xolation.jpg',
    href: 'https://portal.xolation.com/'
  },
  {
    title: 'GAT Investment Bank',
    description: `What if you could look up any international financial service in the world? Savings, Loanings, Digital Wallets, BNPL
    and more. Gatbank has many features to help you find exactly what you're looking
    for. Also an i18n showcase in work.`,
    imgSrc: '/static/images/ocean.jpg',
    href: 'https://www.gatbank.com/'
  }
];
---

<RootLayout title='Projects'>
  <div class='divide-y divide-gray-200 dark:divide-gray-700'>
    <div class='space-y-2 pb-8 pt-6 md:space-y-5'>
      <h1
        class='text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14'
      >
        Projects
      </h1>
      <p class='text-lg leading-7 text-gray-500 dark:text-gray-400'>
        Showcase your projects with a hero image
      </p>
    </div>
    <div class='container py-12'>
      <div class='-m-4 flex flex-wrap'>
        {
          projectsData.map((d) => (
            <Card
              title={d.title}
              description={d.description}
              imgSrc={d.imgSrc}
              href={d.href}
            />
          ))
        }
      </div>
    </div>
  </div>
</RootLayout>
